
/* Apply a background color to the body */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* Style the header */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Style the brand name */
.brand {
  color: #ff4500; /* Delicious Bites in orange */
}

/* Style the navigation menu */
nav ul {
  list-style-type: none;
  text-align: center;
  background-color: #333;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

/* Style the sections */
section {
  background-color:chocolate;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

/* Style the lists */
ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Style the image */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}
ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}
.note{
  text-align: left;
  font-weight: bolder;
  font-size: large;
}
